<div class="container-fluid" style="height: 100%;overflow:auto;padding-bottom: 5px;padding-left: 5px;padding-right: 5px;padding-top: 5px">

	<% _.each(collection, function(model) { %>
    <% if(model.inStock) { %>
	<div  style="height: 270px; max-height: 270px;float: left; width: 280px">
		<div id="thumbnail" class="thumbnail" style="height: 100%">
			<img id="productImage" class="loading" src="<%= model.imageUrls %>" />
			<div class="caption pull-down" style="overflow:auto">
				<h3> <%= model.productTitle.trim() %></h3>
				
				<% if (displayingWishList) { %>
					<h1> My Price Rs.<input id="expectedPrice" type="text" class="form-control" value="<%= model.desiredPrice %>"/></h1>
					<h3> Rs. <%= model.sellingPrice %></h3>
					<% } else { %>
					<h1> Rs. <%= model.sellingPrice %></h1>
					<% } %>
				<p>
					<a href="<%= model.productUrl %>" class="btn btn-primary" role="button" target="_">Buy Now!</a>
					<% if (!displayingWishList) { %>
					<a  href="#" class="btn btn-default" role="button" data-toggle="modal" data-target="#myModal" data-productId="<%= model.id %>" data-productTitle="<%= model.productTitle %>"> <span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Add To Wishlist </a>
					<% } else { %>
					<a id="removeWishList" href="#" class="btn btn-default" role="button" data-productId="<%= model.wishListId %>">
						Remove from Wishlist
						</a>
					<% } %>

				</p>
			</div>
		</div>
	</div>
    <% } %>
	<% }); %>

	<script>
		

		var specialKeys = new Array();
        specialKeys.push(8); //Backspace
        function IsNumeric(e) {
            var keyCode = e.which ? e.which : e.keyCode
            var ret = ((keyCode >= 48 && keyCode <= 57) || specialKeys.indexOf(keyCode) != -1);
            document.getElementById("error").style.display = ret ? "none" : "inline";
            return ret;
        }
	</script>
</div>
<div class="modal fade bs-example-modal-sm" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel">Add to the Wishlist</h4>
      </div>
      <div class="modal-body">
        <form class="form-horizontal" role="form">
          <div class="form-group">
            <label id="product" for="recipient-name" class="control-label col-sm-4"  >Item:</label>
            <input id="product" name="product" type="text" class="col-sm-3" readonly>
          </div>
          <div class="form-group">
            <label for="message-text" class="control-label col-sm-4" >My Price:</label>
            <input id="myPrice" type="text" class="col-sm-3" onkeypress="return IsNumeric(event);">
            <span id="error" style="color: Red; display: none">* Input digits (0 - 9)</span>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button id="addWishList" type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>