<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title">Registration Page</h4>
					</div>
					<div class="modal-body">
						<h4> Please tell us about you </h4>

						UserName :
						<input type="text" id="txtUserName" placeholder="Username"> 
						<br />
						<br />
						Password :
						<input type="password" id="txtPassword" placeholder="Paasword">
						<br />
						<br/>
						First Name :
						
						<input type="text" id="txtFirstName" placeholder="First Name">
						<br />
						<br/>
						Last Name :
						<input type="text" id="txtLastName" placeholder="Last Name">
						<br />
						<br/>
						Password :
						<input type="email" id="txtEmail" placeholder="abc@xyz.com">
						<br />
						<br/>
						<button id="cmdAddClient_1" class="btn btn-info" data-dismiss="modal" >
							REGISTER
						</button>
						<button id="btnClosePopup" class="btn btn-info" data-dismiss="modal">
							Cancel
						</button>
						
					</div>
				</div>
				
			</div>