<div class="row" >

	<div class="navbar navbar-fixed-top">
		<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
				<!-- Brand and toggle get grouped for better mobile display -->
				<div class="navbar-header">
					<a class="navbar-brand" href="#">BackBone Tutorial</a>
				</div>

				<!-- Collect the nav links, forms, and other content for toggling -->
				<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
					<ul class="nav navbar-nav navbar-right">
						<li>
							<a href="#">About Us</a>
						</li>
						<li class="dropdown">
							<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi! <%= firstName %> <%= lastName %> <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
								<li>
									<a id="viewAccount">View Account</a>
								</li>
								<li>
									<a id="editAccount">Edit Account</a>
								</li>
								<li>
									<a href="#">Change Password</a>
								</li>
								<li class="divider"></li>
								<li>
									<a href="">Sign Out</a>
								</li>
							</ul>
						</li>
					</ul>
				</div><!-- /.navbar-collapse -->

			</div><!-- /.container-fluid -->

		</nav>
		<div class="container-fluid center-block text-center">
			<div class="row">

				<div id="homePageContent"class="col-sm-7 col-md-8  main">
					<h3>My Home Page</h3>
				</div>
				<div class="well pull-right" style="width:300px; padding: 8px 0;">
					<ul class="nav nav-list">
						<li>
							<label class="tree-toggler nav-header">Header 1</label>
							<ul class="nav nav-list tree">
								<li>
									<a id="addWishListItemBtn">Add wishlist item</a>
								</li>
								<li>
									<a href="#">Link</a>
								</li>
								<li>
									<label class="tree-toggler nav-header">Header 1.1</label>
									<ul class="nav nav-list tree">
										<li>
											<a href="#">Link</a>
										</li>
										<li>
											<a href="#">Link</a>
										</li>
										<li>
											<label class="tree-toggler nav-header">Header 1.1.1</label>
											<ul class="nav nav-list tree">
												<li>
													<a href="#">Link</a>
												</li>
												<li>
													<a href="#">Link</a>
												</li>
											</ul>
										</li>
									</ul>
								</li>
							</ul>
						</li>
				</div>
			</div>
		</div>
		<script src="js/UserDetail/view/UserView.js"></script>
		<script src="js/model/wishList/WishList.js"></script>
		<script src="js/wishList/view/WishListView.js"></script>

	</div><!-- End Nav Bar -->
</div>
