<div class="row" >

			<div class="navbar navbar-fixed-top">
			<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<a class="navbar-brand" href="#">BackBone Tutorial</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About Us</a></li>
						<li class="dropdown">
					     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi! <%= firstName %> <%= lastName %> <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
							<li><a id="viewAccount">View Account</a></li>
							<li><a href="#">Edit Account</a></li>
							<li><a href="#">Change Password</a></li>
							<li class="divider"></li>
							<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
				</ul>
			</div><!-- /.navbar-collapse -->
			
			</div><!-- /.container-fluid -->
			
			</nav>
			  <div class="container center-block text-center">
			  	<h3>My Home Page</h3>
			  	<div id="homePageContent"></div>
			  </div>
			  
			  
			</div><!-- End Nav Bar -->
			</div>
