<!doctype html>
<html class="no-js" lang="">
	<head>
		<meta charset="utf-8">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>BackBone Test Tutorials</title>
		<meta name="description" content="">
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Place favicon.ico and apple-touch-icon(s) in the root directory -->

		<link rel="stylesheet" href="css/main.css">
		<!-- Latest compiled and minified CSS -->
		<link rel="stylesheet" href="css/bootstrap.min.css">

		<!-- Bootstrap CSS -->

		<link href="css/bootstrap-glyphicons.css" rel="stylesheet">

		<!-- Custom CSS -->
		<link rel="stylesheet" href="css/styles.css">
		<!-- Include Modernizr in the head, before any other Javascript -->
		<script src="js/modernizr-2.6.2.min.js"></script>

	</head>
	<body>
		<script id="main-Page-Template" type="text/template">
			<div class="row" >

			<div class="navbar navbar-fixed-top">
			<nav class="navbar navbar-default" role="navigation">
			<div class="container-fluid">
			<!-- Brand and toggle get grouped for better mobile display -->
			<div class="navbar-header">
			<a class="navbar-brand" href="#">BackBone Tutorial</a>
			</div>

			<!-- Collect the nav links, forms, and other content for toggling -->
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">About Us</a></li>
						<li class="dropdown">
					     <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Hi! <%= firstName %> <%= lastName %> <span class="caret"></span></a>
							<ul class="dropdown-menu" role="menu">
							<li><a href="#">View Account</a></li>
							<li><a href="#">Edit Account</a></li>
							<li><a href="#">Change Password</a></li>
							<li class="divider"></li>
							<li><a href="#">Sign Out</a></li>
							</ul>
						</li>
				</ul>
			</div><!-- /.navbar-collapse -->
			
			</div><!-- /.container-fluid -->
			
			</nav>
			  <h3>My Home Page</h3>
			</div><!-- End Nav Bar -->
             
			</div>
		</script>
		<div class="container center-block text-center" style="text-align: center; width: 500px;position: 100px; vertical-align: middle; x: 200px; padding-top: 200px">
            
			<div id="divClient"  class="panel panel-primary " >
				<div class="panel-heading">
					Login Panel
				</div>
				<div id="loginPanel" class="panel-body" >
					UserName :
					<input type="text" id="txtIdClient" placeholder="Username">
					<br />
					<br />
					Password :
					<input type="password" id="txtNomClient" placeholder="Paasword">
					<br />
					<br/>
					<a id="cmdAddClient1" href="#registraionPage" role="button" class="btn btn-warning" data-toggle="modal">Register</a>
					<button id="login" class="btn btn-primary">
						Login
					</button>
				</div>
				<br>
				<ul id="listeClient"></ul>
			</div>
		</div>
		<!--<script id="registrationTemplate" type="text/template"> -->
		<div class="modal fade" id="registraionPage">
			<div class="modal-dialog">
				<div class="modal-content">
					<div class="modal-header">
						<button class="close" data-dismiss="modal">
							&times;
						</button>
						<h4 class="modal-title">Registration Page</h4>
					</div>
					<div class="modal-body">
						<h4> Please tell us about you </h4>

						UserName :
						<input type="text" id="txtUserName" placeholder="Username">
						<br />
						<br />
						Password :
						<input type="password" id="txtPassword" placeholder="Paasword">
						<br />
						<br/>
						First Name :
						<input type="text" id="txtFirstName" placeholder="First Name">
						<br />
						<br/>
						Last Name :
						<input type="text" id="txtLastName" placeholder="Last Name">
						<br />
						<br/>
						Password :
						<input type="email" id="txtEmail" placeholder="abc@xyz.com">
						<br />
						<br/>
						<button id="cmdAddClient" class="btn btn-info" data-dismiss="modal">
							REGISTER
						</button>
						<button id="btnClosePopup" class="btn btn-info" data-dismiss="modal">
							Cancel
						</button>
					</div>
				</div>
			</div>
		</div>

		<!-- </script> -->

		<!-- Latest compiled and minified JavaScript -->
		<script src="js/jquery/jquery-1.11.1.min.js"></script>
		<script src="http://ajax.cdnjs.com/ajax/libs/json2/20110223/json2.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.5.2/underscore.js"></script>
		<script src="http://cdnjs.cloudflare.com/ajax/libs/backbone.js/1.1.0/backbone-min.js"></script>
		<script src="js/bootstrap.min.js"></script>
		<script src="js/backbone.localStorage.js"></script>
		<script src="js/vendor/modernizr-2.8.3.min.js"></script>
		<script src="js/plugins.js"></script>
		<script src="js/main.js"></script>
		<script src="js/LoginPage.js"></script>
		<script src="js/HomePage/views/MainPageView.js"></script>
	</body>
</html>
