<div class="container-fluid" >

	<% _.each(collection, function(model) { %>
   <% if (model.inStock) { %>
	<div  style="height: 270px; max-height: 270px;float: left; width: 280px">
		<div id="thumbnail" class="thumbnail" style="height: 100%">
			<img id="productImage" src="<%= model.imageUrls['100x100'] %>"  onerrorupdate="imgError(this)"/>
			<div class="caption pull-down">
				<h3> <%= model.productTitle.trim() %></h3>
				<p>
					<a href="<%= model.productUrl %>" class="btn btn-primary" role="button" target="_">Buy Now!</a>
					<a href="#" class="btn btn-default" role="button">
						<span class="glyphicon glyphicon-heart" aria-hidden="true"></span>Add To Wishlist
						</a>
				</p>
			</div>
		</div>
	</div>
	<% } %>
	<% }); %>

	<script>
		function imgError(image) {
			alert("test");
			image.onerror = "";
			image.src = "/images/noimage.gif";
			return true;
		}
	</script>
</div>