<div class="container-fluid">
	<div class="form-group">
		
			<p class="form-control-static">

				<div class="row">
					<% _.each(collection, function(model) { %>
					<% if (i==1) { i=2;%>
					<div class="col-md-4" style="height: 150px">
						<img src="<%= model.imageUrls['100x100'] %>" />
						<br />
						<%= model.productTitle %>
					</div>
					<% } else if(i == 2) { i=3 %>
					<div class="col-md-4" style="height: 150px">
						<img src="<%= model.imageUrls['100x100'] %>" />
						<br />
						<%= model.productTitle %>
					</div>
					<% } else { i=1%>
					<div class="col-md-4" style="height: 150px">
						<img src="<%= model.imageUrls['100x100'] %>" />
						<br />
						<%= model.productTitle %>
					</div>
					<% } %>

					<% }); %>
				</div>

			</p>
		
	</div>
</div>